@import url("./Global.css");
.wrapper-ui {
  padding: 5rem 10%;
  margin: auto;
  max-width: 140rem;
  width: 100%;
}
.wrapper-ui .wrapperUi-containerTitle {
  background: #fff;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.4);
  border-radius: 1rem;
  background: #fff;
  position: relative;
  height: 15rem;
}
.wrapper-ui .wrapperUi-containerTitle .box-uiInfo {
  display: flex;
}
.wrapper-ui .wrapperUi-containerTitle .box-uiInfo .avatar-user {
  position: absolute;
  top: -4rem;
  left: 3rem;
  width: 15rem;
  height: 15rem;
  border-radius: 50%;
}
.wrapper-ui .wrapperUi-containerTitle .box-uiInfo .avatar-user .border-image {
  position: relative;
  display: inline-block;
}
.wrapper-ui .wrapperUi-containerTitle .box-uiInfo .avatar-user .border-image .avatar {
  width: 100%;
  border-radius: 50%;
  width: 125px !important;
  height: 125px !important;
  -o-object-fit: cover;
  object-fit: cover;
  margin: auto;
}
.wrapper-ui .wrapperUi-containerTitle .box-uiInfo .avatar-user .border-image::before {
  content: "";
  position: absolute;
  top: -5px;
  left: -5px;
  width: 108px;
  height: 109px !important;
  overflow: hidden !important;
  border: 3.8px solid #007bff;
  border-radius: 50%;
  padding: 1rem;
}
.wrapper-ui .wrapperUi-containerTitle .box-uiInfo .info-user {
  position: absolute;
  left: 21rem;
  top: 5rem;
}
.wrapper-ui .wrapperUi-containerTitle .box-uiInfo .info-user p {
  font-size: 3rem;
}
.wrapper-ui .wrapperUi-containerTitle .box-uiInfo .info-user p:nth-child(1) {
  font-weight: bold;
}
.wrapper-ui .wrapperUi-containerTitle .box-uiInfo .info-user p:nth-child(2) {
  font-size: 1.3rem;
}
.wrapper-ui .wrapperUi-containerTitle .box-editProfile {
  position: absolute;
  bottom: 3rem;
  right: 4rem;
}
.wrapper-ui .box-container {
  display: flex;
  justify-content: space-between;
  gap: 1.5rem;
}
.wrapper-ui .box-container .wrapperUi-containerList {
  flex: 1 1 45rem;
  max-width: 100%;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 1.5rem 3rem;
  margin-top: 1rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.4);
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}
.wrapper-ui .box-container .wrapperUi-containerList .control-button {
  flex: 1 1 16rem;
  background: #fff;
  text-align: center;
  display: flex;
  justify-content: space-between;
}
.wrapper-ui .box-container .wrapperUi-containerList .control-button button:nth-child(1) {
  margin-bottom: 1rem;
}
.wrapper-ui .box-container .wrapperUi-containerList .control-button button:nth-child(2) {
  background: #0da6d1;
}
.wrapper-ui .box-container .wrapperUi-containerList .list-detailItem {
  flex: 1 1 32rem;
  gap: 1.5rem;
}
.wrapper-ui .box-container .wrapperUi-containerList .list-detailItem .box {
  margin-bottom: 2rem;
}
.wrapper-ui .box-container .wrapperUi-containerList .list-detailItem .box span {
  text-transform: capitalize;
  font-weight: 600;
  font-size: 1.7rem;
  display: block;
  margin-top: 0.7rem;
}
.wrapper-ui .box-container .wrapperUi-containerList .list-detailItem .box input {
  margin-left: 3rem;
  width: 100%;
  font-size: 16px;
}
.wrapper-ui .box-container .wrapperUi-containerList .list-detailItem .box label {
  color: #888;
  margin-left: 3rem;
  font-size: 1.3rem;
}
.wrapper-ui .box-container .wrapperUi-containerList .list-detailItem .btn-create {
  float: right;
}
.wrapper-ui .wrappercalendar-containerList {
  flex: 1 1 26rem;
  max-width: 100%;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 1.5rem 3rem;
  margin-top: 1rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.4);
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}
.wrapper-ui .wrappercalendar-containerList .select-title {
  display: block;
  font-size: 1.7rem;
  margin-bottom: 1rem;
  text-transform: uppercase;
  font-weight: 600;
}
.wrapper-ui .wrappercalendar-containerList select {
  padding: 0.4rem 0.2rem;
  width: 100%;
  border-radius: 1rem;
  border: 0.1rem solid #888;
}
.wrapper-ui .wrappercalendar-containerList .container-timeClock {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(7rem, 1fr));
  gap: 1.5rem;
  text-align: center;
  margin-bottom: 2rem;
}
.wrapper-ui .wrappercalendar-containerList .container-timeClock span {
  cursor: pointer;
  font-size: 1.5rem;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  border: 0.1rem solid #888;
}
.wrapper-ui .wrappercalendar-containerList .btn-create {
  width: 100%;
  background: #624219 !important;
}/*# sourceMappingURL=layout_UiDetailAdmin.css.map */