
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class="loading-bar">
        <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
    </div>
    <!DOCTYPE html>
    <html lang="en">

    <head>
        <meta charset="utf-8" />
        <title>Swiper demo</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" />

        <style>
            html,
            body {
                position: relative;
                height: 100%;
            }

            body {
                background: #eee;
                font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
                font-size: 14px;
                color: #000;
                margin: 0;
                padding: 0;
            }

            swiper-container {
                width: 100%;
                height: 100%;
            }

            swiper-slide {
                text-align: center;
                font-size: 18px;
                background: #fff;
                display: flex;
                justify-content: center;
                align-items: center;
            }

                swiper-slide img {
                    display: sw </swiper-slidek;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }

            body {
                background: #000;
                color: #000;
            }

            swiper-container {
                width: 100%;
                height: 300px;
                margin-left: auto;
                margin-right: auto;
                margin-top:5rem;
            }

            swiper-slide {
                background-size: cover;
                background-position: center;
            }

            .mySwiper {
                height: 80%;
                width: 100%;
            }

            .mySwiper2 {
                height: 20%;
                box-sizing: border-box;
                padding: 10px 0;
            }

                .mySwiper2 swiper-slide {
                    width: 25%;
                    height: 100%;
                    opacity: 0.4;
                }

                .mySwiper2 .swiper-slide-thumb-active {
                    opacity: 1;
                }

            swiper-slide img {
                display: sw </swiper-slidek;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        </style>
    </head>

    <body>
        <swiper-container style="--swiper-navigation-color: #fff; --swiper-pagination-color: #fff" class="mySwiper"
                          thumbs-swiper=".mySwiper2" loop="true" space-between="10" navigation="true">
            <swiper-slide>
                <img src="/images/banner_Home.jpg" />
            </swiper-slide>
            <swiper-slide>
                <img src="/images/banner_home1.jpg" />
            </swiper-slide>
            <swiper-slide>
                <img src="/images/banner_Home3.jpg" />
            </swiper-slide>
         
            <swiper-slide>
                <img src="/images/banner3.png" />
            </swiper-slide>
            <swiper-slide>
                <img src="/images/banner_img.jpeg" />
            </swiper-slide>
        </swiper-container>

        <swiper-container class="mySwiper2" loop="true" space-between="10" slides-per-view="4" free-mode="true"
                          watch-slides-progress="true">
            <swiper-slide>
                <img src="/images/banner_Home.jpg" />
            </swiper-slide>
            <swiper-slide>
                <img src="/images/banner_home1.jpg" />
            </swiper-slide>
            <swiper-slide>
                <img src="/images/banner_Home3.jpg" />
            </swiper-slide>
            <swiper-slide>
                <img src="/images/banner3.png" />
            </swiper-slide>
            <swiper-slide>
                <img src="/images/banner_img.jpeg" />
            </swiper-slide>
        </swiper-container>

        <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-element-bundle.min.js"></script>

    </body>

</html>
    <script>
        window.addEventListener("load", function () {
            var loadingBar = document.querySelector(".loading-bar");
            loadingBar.style.display = "none";
        });
    </script>
</body>
</html>

<style>
    .loading-bar {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100px;
        height: 100px; 
        background: rgba(255, 255, 255, 0.8);
        border-radius: 50%;
        text-align: center;
        z-index: 9999;
    }

        .loading-bar i {
            font-size: 3em;
            line-height: 100px; /* Điều chỉnh vị trí của biểu tượng spinner theo ý muốn */
            color: #3498db; /* Màu của biểu tượng spinner */
        }
</style>