.products {

    .products-container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(23rem, 1fr));
        gap: 2rem;

        .box {
            text-align: center;
            border-radius: 1rem;
            padding: 2rem 1rem;
            

            &:hover {
                cursor: pointer;
                box-shadow:  0 .5rem 1rem rgba(0,0,0, .2);
                transform: scale(0.97);

                .image-product {
                    .icons {
                        bottom: 25%;
                    }
                }
            }

            .image-product {
                max-width: 25rem;
                margin: auto;
                overflow: hidden;
                position: relative;

                .icons {
                    position: absolute;
                    bottom: -100%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    

                    a{
                        font-size: 1.7rem;
                        color: #fff;
                        padding: 1rem 1.5rem;
                        background-color: #c29e75;
                        border-radius: .2rem;
                        box-shadow: 0 .5rem 1rem rgba(0,0,0, .2);

                        &:nth-child(1) {
                            margin-right: .3rem;
                        }
                    }
                }

                img{
                    width: 100%;
                }
            }

            .content {
                h2 {

                }

                .price {
                    font-size: 1.7rem;
                    font-weight: 600;
                    color: #e76b18;
                }
            }
        }
    }
}