@{
    ViewData["Title"] = "Best Selling Products";
}

<div style="padding-top:7rem">
    <div class="wrapper">
        <div class="rectangle">
            <i id="icon" class="fa-solid fa-chart-line"></i>
            <p class="total">Tổng doanh thu sản phẩm</p>
            <h1 class="price"><strong>@ViewBag.TotalRevenue</strong>VNĐ</h1>
        </div>
        <div class="rectangle1">
            <i id="icon" class="fa-solid fa-bookmark"></i>
            <p class="total">Sản phẩm bán chạy nhất</p>
            <h1 class="price"><strong>@ViewBag.BestSellingProductName</strong></h1>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<canvas id="salesChart" width="800" height="400"></canvas>

@section scripts {
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            var bestSellingProducts = @Html.Raw(Json.Serialize(ViewBag.BestSellingProducts));

            var productNames = bestSellingProducts.map(p => p.productName);

            var totalQuantities = bestSellingProducts.map(p => p.totalQuantity);

             var date = bestSellingProducts.map(p => p.Date)
            var ctx = document.getElementById('salesChart').getContext('2d');
            var chart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: productNames,
                    datasets: [{
                        label: 'Total Quantity Sold',
                        data: totalQuantities,
                        backgroundColor: 'rgba(75, 192, 192, 0.2)',
                        borderColor: 'rgba(75, 192, 192, 1)',
                        borderWidth: 1
                    }]
                },
                options: {
                    scales: {
                        y: {
                            beginAtZero: true
                        }
                    }
                }
            });
        });
    </script>
}
</div>

<style>
    .wrapper {
        padding:0 2rem;
        display:flex;
        justify-content:space-around;
    }

    .rectangle {
        position: relative;
        display: flex;
        border: none;
        width: 250px;
        height: 150px;
        border-radius: 10px;
        padding: 1rem;
        background: linear-gradient(#f2709c, #ff9472);
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }


    .rectangle3 {
        position: relative;
        display: flex;
        border: none;
        width: 250px;
        height: 150px;
        border-radius: 10px;
        padding: 1rem;
        background: linear-gradient(#50C9C3, #96DEDA);
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .rectangle1 {
        position: relative;
        display: flex;
        border: none;
        width: 250px;
        height: 150px;
        border-radius: 10px;
        padding: 1rem;
        background: linear-gradient(#FFEEEE, #DDEFBB);
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }



    #icon {
        position: absolute;
        top: 6px;
        right: 6px;
    }

    .total {
        text-transform: uppercase;
        font-size: 1rem;
    }

    .total,
    .price {
        text-align: center;
    }
</style>