@model DoAn.Models.Branch

@{
    ViewData["Title"] = "Detail";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="wrapper-box" style="padding:7rem">
    <div class="table-infoStaff">
        <table class="table-List">
            <tr class="title-infoList">
                <th>Branch ID</th>
                <th>Address</th>
                <th>Hotline</th>
                <th></th>
            </tr>
            <tbody class="box-tbody">
                <tr class="item-infoList">
                    <td>@Model.BranchId</td>
                    <td>@Model.Address</td>
                    <td>@Model.Hotline</td>
                    <td>
                        <button class="btn-edit" onclick="navigateTo('Edit', @Model.BranchId)">
                            Edit
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<script>
    function navigateTo(action, BranchId) {
        window.location.href = `/Admin/Branch/${action}?BranchId=${BranchId}`;
    }
</script>
