@using Microsoft.AspNetCore.Http

@{
    string userAvatar = Context.Session.GetString("Avatar");
    string userId = Context.Session.GetString("UserId");
}

<div class="upload-section-header">
    <header class="app-header">
        <nav class="navbar navbar-expand-lg navbar-light">
            <ul class="navbar-nav">
                <li class="nav-item d-block d-xl-none">
                    <a class="nav-link sidebartoggler nav-icon-hover" id="headerCollapse" href="javascript:void(0)">
                        <i class="ti ti-menu-2"></i>
                    </a>
                </li>
               
            </ul>
            <div class="navbar-collapse justify-content-end px-0" id="navbarNav">
                <ul class="navbar-nav flex-row ms-auto align-items-center justify-content-end">
                    <li class="nav-item dropdown">
                        @if (!string.IsNullOrEmpty(userAvatar))
                        {
                            <a class="nav-link nav-icon-hover" href="javascript:void(0)" id="drop2" data-bs-toggle="dropdown" aria-expanded="false">
                                <img src="@userAvatar" alt="" width="35" height="35" class="rounded-circle">
                            </a>
                        }
                        else
                        {
                            <a class="nav-link nav-icon-hover" href="javascript:void(0)" id="drop2" data-bs-toggle="dropdown" aria-expanded="false">
                                <img src="~/images/img.jpg " alt="Default Avatar" width="35" height="35" class="rounded-circle">
                            </a>
                        }
                        <div class="dropdown-menu dropdown-menu-end dropdown-menu-animate-up" aria-labelledby="drop2">
                            <div class="message-body">
                                <a href="javascript:void(0)" class="d-flex align-items-center gap-2 dropdown-item">
                                    <i class="ti ti-user fs-6"></i>
                                    @if (Context.Session.GetString("Role") == null)
                                    {
                                        <p class="mb-0 fs-3">
                                            My Profile
                                        </p>
                                    } else
                                    {

                                        @if (Context.Session.GetString("Role") == "1")
                                        {
                                            <p class="mb-0 fs-3">
                                                <a class="mb-0 fs-3" href="@Url.Action("Edit", "Staff", new { staffId = userId })">Edit profile</a>
                                            </p>
                                        }
                                        else
                                        {
                                            <p class="mb-0 fs-3">
                                            </p>
                                        }
                                    }
                                </a>
                              @*  <a href="javascript:void(0)" class="d-flex align-items-center gap-2 dropdown-item">
                                    <i class="ti ti-mail fs-6"></i>
                                    <p class="mb-0 fs-3">My Account</p>
                                </a>*@
                                @*<a href="javascript:void(0)" class="d-flex align-items-center gap-2 dropdown-item">
                                    <i class="ti ti-list-check fs-6"></i>
                                    <p class="mb-0 fs-3">My Task</p>
                                </a>*@
                                @if (Context.Session.GetString("Role") == null)
                                {
                                    <a href="@Url.Action("Login", "Staff", new { area = "Admin" })" class="btn btn-outline-primary mx-3 mt-2 d-block">Login</a>

                                }
                                else
                                {
                                    <a href="@Url.Action("Logout", "Staff", new { area = "Admin" })" class="btn btn-outline-primary mx-3 mt-2 d-block">Logout</a>
                                }
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
</div>
<style>
    .dropdown-menu {
        left: auto; 
        right: 0; 
    }
</style>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        var dropdownTrigger = document.getElementById("drop2");
        var dropdownMenu = document.querySelector(".dropdown-menu");

        dropdownTrigger.addEventListener("click", function (event) {
            event.preventDefault();
            dropdownMenu.classList.toggle("show");
        });
    });
</script>
