@model DoAn.Models.Staff

@{
    var password = TempData["Password"] as string;
}

<div class="container" style="padding:2rem">
    <h2>Retrieve Password</h2>

    @if (!string.IsNullOrEmpty(password))
    {
        <div class="mt-4">
            <h4>Password:</h4>
            <p>@password</p>
        </div>
    }
    else
    {
        <p>Password not available or token has expired.</p>
    }
</div>
