@model DoAn.Models.Staff
@using Microsoft.AspNetCore.Http
@{
    var password = TempData["Password"] as string;
}
@using (Html.BeginForm("showPassword", "Staff", FormMethod.Post))
{
    <div class="form-group">
        <label for="username">Username:</label>
        @Html.TextBoxFor(m => m.Username, new { @class = "form-control", placeholder = "Enter your username" })
    </div>
    <button type="submit" class="btn btn-primary">Retrieve Password</button>
}
@if (!string.IsNullOrEmpty(password))
{
    <div class="mt-4">
        <h4>Password:</h4>
        <p>@password</p>
    </div>
}
<style>
    form {
        padding:5rem;
    }
</style>